RewriteEngine On
RewriteBase /


RewriteRule ^dl.php?id=(.*) /labelmusicinc/download?id=$1 [L]

RewriteRule ^@([^/.]+)\/?$ /labelmusicinc/?module=cuenta&view=$1 [L]
RewriteRule ^@([^/.]+)\/?$ /labelmusicinc/?module=cuenta&view=$1 [L]
RewriteRule ^@([^/]*)/([^/.]+)\/?$ /labelmusicinc/?module=cuenta&view=$1&do=$2 [L]

RewriteRule ^([^/.]+)\/?$ /labelmusicinc/?module=$1 [L]

RewriteRule ^([^/]*)/([^/.]+)\/?$ /labelmusicinc/?module=$1&do=$2 [L]

RewriteRule ^([^/]*)/([^/]*)/([^/.]+)\/?$ /labelmusicinc/?module=$1&do=$2&view=$3 [L]

RewriteRule ^([^/]*)/([^/]*)/([^/]*)/([^/.]+)\/?$ /labelmusicinc/?module=$1&do=$2&view=$3&$4 [L]

#RewriteRule ^([^/]*)/([^/]*)/([^/]*)\/$ /labelmusicinc/?module=$1&do=$2&^(id|show)=$3 [L]

ErrorDocument 404 /labelmusicinc/?module=notfound





php_value upload_max_filesize 100M
php_value post_max_size 100M

<FilesMatch "\.(js)$">
	AddHandler application/x-httpd-php .js
</FilesMatch>