@media (max-width: 767px){


#pageslide { width: 100%; }
#pageslide #nav li { padding: 10px 0; border-bottom: 1px solid #666; }
#pageslide #nav li a { color: #FFF; border: none; }
#pageslide #nav li a:hover { text-decoration: underline; }


.song_view_song_info .pull-left{
margin-top: 10px;
}

._coverflow ul li ._coverflow_info{
font-size: 16pt;
}

.song_view_song_info .__song_info__, .song_view_song_info h4{
overflow: hidden;
}


.text-left, .text-right{
text-align: left;
}

._collection_view.jumbotron h1 {
font-size: 18pt;
height: 18pt;
max-width: 100%;
}


._p ._p_b{
margin-left: 0px;
margin-right: 0;
}


._pager_tabs{
margin: 0 15px;
}

._pager_tabs li, ._pager_tabs.small li{
float: none;
margin: 0;
position: relative;
right: inherit;
width: 100%;
padding: 0;
}

._pager_tabs li:first-child {
margin-left: 0px;
}

._pager_tabs li a,._pager_tabs.small li a{
background-color: #a7a7a7;
background-image: none;
background-position: 0 0;
background-repeat: no-repeat;
display: block;
height: 40px;
line-height: 40px;
position: relative;
z-index: 10;
width: 100%;
border-radius: 0px;
margin: 0;
padding: 0;
display: block;
opacity: 0.8;
filter: alpha(opacity=80);
padding: 0;
}

._pager_tabs li.active a{
color: #444;
color: rgba(0,0,0,0.73);
background-color: #fff;
opacity: 1;
filter: alpha(opacity=100);
}


._pager_tabs li a:before, ._pager_tabs li a:after{
border-width: 0px;
display: none;
}

._p{
border-radius: 0px;
margin-top: 0;
margin-bottom: 0;
}


._p_t h1 span {
font-size: 12pt;
}


.activity_feed ul li h4 a.comment_cog{
font-size: 18pt;
position: relative;
top: -10px;
}

.activity_feed{
margin: 0px 0 50px;
border-radius: 0px;
background-color: transparent;
}

.activity_feed ul li p{
clear: both;
}

.fetch_collections ul li img {
width: 150px;
height: 100px;
}

._user_profile_photo_rounded {
max-width: 30px;
min-height: 30px;
margin-top: -4px;
margin-bottom: 10px;
}

.fetch_collections ul li ._title {
font-size: 16pt;
line-height: 16pt;
max-height: 48pt;
-webkit-line-clamp: 3;
}

.fetch_collections ul li small{
font-size: 12pt;
color: #969696;
}

.fetch_collections ul li{
margin: 0;
background-color: #fff;
padding: 10px;
border-top: 1px solid #F7F7F7;
margin-bottom: 10px;
}



.activity_feed ul li,.activity_feed ul li:hover{
margin-bottom: 0px;
border-radius: 0px;
border-bottom: none;
-webkit-transition: all 0s;
-moz-transition: all 0s;
-ms-transition: all 0s;
-o-transition: all 0s;
transition: all 0s;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}

.modal-dialog{
margin: 0;
height: 100%;
opacity: 0.98;
}

.modal-dialog .modal-content{
border-radius: 0px;
min-height: 100%;
}

.modal-dialog .modal-content h4.title{
margin: -20px -20px 10px;
border-radius: 0px;
}



._coverflow{
height: 300px;
}

.__feature_feed .__feature_oi .__feature_oi_cover .__feature_oi_info ._play_this{
opacity: 1;
filter: alpha(opacity=100);
width: 100%;
height: 100%;
font-size: 40pt;
line-height: 70pt;
padding-top: 115px;
}

.__feature_feed .__feature_oi .__feature_oi_cover .__feature_oi_info .__b_a{
font-size: 13pt;
}


.__intro .col-sm-4{
margin-bottom: 50px;
}

.m-b{
margin-bottom: 50px;
}

.btn,.button{
/*border-radius: 0px;*/
margin-top: 5px;
/*width: 100%;
padding-left: 0;
padding-right: 0;*/
}

._comment_box .btn{
width: 100%;
padding-left: 0;
padding-right: 0;
border-radius: 4px;
}

.text-xs-right{
text-align: right;
}

.text-xs-left{
text-align: left;
}
.text-xs-center{
text-align: center;
}


.player-footer ._controls- ._control._control_play,.player-footer ._controls- ._control._control_pause{
font-size: 18pt;
margin-top: 0;
top: 0;
}


.collection-item .collection_overlay_cover .collection_cover_overlay {
opacity: 1;
filter: alpha(opacity=100);
}


._layer,._layer.active{
display: block;
}


.preview_picture{
margin-left: auto;
margin-right: auto;
width: 80px;
height: 80px;
}



.__feature_feed .__feature_oi.__content_song a.play_song_in{
padding: 0px 0px 0px 4px;
height: 20pt;
width: 20pt;
font-size: 13pt;
line-height: 20pt;
top: -2px;
position: relative;
border-color: #FA8F2C;
}


.__feature_feed .__feature_oi.__content_song h4{
font-size: 11pt;
}


.nav>li>a{
text-align: left;
height: 42px;
line-height: 28px;
font-size: 15pt;
padding-left: 20px;
border-radius: 0px;
}


.nav>li.vertical-divider{
display: none;
}

.nav li .search-box {
position: relative;
display: block;
width: 95%;
margin-bottom: 5px;
height: 42px;
}

.player-footer,.navbar.player-footer,.navbar.player-footer.open{
visibility: hidden;
opacity: 0;
}

._song_view_collection_list .__song__list ul{
max-height: 100%;
overflow: inherit;
min-height: 100px;
}
._song_view_collection_list .__song__list ul li.col-xs-6{
width: 50%;
margin: 0;
border: none;
border-radius: 0px;
background-color: transparent;
padding: inherit;
height: 100%;
}

._song_view_collection_list .__song__list ul li.col-xs-6 a {
border: 1px solid #2E2D2D;
border-radius: 4px;
margin: 5px;
background-color: #292929;
}

.navbar-brand, .navbar-brand:hover, .navbar li:hover a.navbar-brand, .navbar a.navbar-brand:hover, .navbar li:hover a.navbar-brand, .navbar li:focus a.navbar-brand, .navbar li a.navbar-brand:focus, .navbar li.open a.navbar-brand, .navbar li.open a.navbar-brand, .nav .open>a.navbar-brand, .nav .open>a.navbar-brand:hover, .nav .open>a.navbar-brand:focus{
background: none;
display: block;
margin: 0 auto;
float: none;
}
.__pager,._pager{
display: none;
}



._col_cover_big,.jumbotron.new-account._col_np{
  height: 200px;
}
._col_cover_big ._col_cover_info{
padding-bottom: 20px;
}

.navbar-toggle{
position: relative;
z-index: 5;
margin-left: 0px;
height: 62px;
padding: 0px 20px;
margin-right: 0px;
background-color: #444;
border-radius: 0px;
margin-top: 0px;
margin-bottom: 0px;
font-size: 20pt;
}

.navbar-brand img{
display: block;
margin: -3px auto 0;
}

div.profile-head h1 img.photo{
width: 60px;
margin-top: 0;
height: 60px;
}

.user_profile_o ul li {
float: none;
display: inline;
margin: 0 5px;
padding: 0;
font-size: 10px;
line-height: 1;
border-right: none;
}

.user_profile_o li a, div.profile-dash div.profile-dash-inner ul.profile-stats>li span.empty {
display: inline-block;
}

.user_profile_o, .user_profile_o ul {
width: auto;
text-align: center;
height: 40px;
line-height: 40px;
margin: 0px;
}

div.profile-dash-actions{
position: relative;
top: 0px;
right: 0;
left: 0;
margin: 10px auto 0;
}

div.profile-dash-actions div.follow-prompt, div.profile-dash-actions div.follow-prompt a, div.profile-dash-actions div.member-actions, div.profile-dash-actions span.follows-you{
float: none;
}

div.profile-dash-actions .member-actions ul{
display: block;
clear: both;
float: none;
width: 100%;
position: relative;
}

div.profile-dash-actions a.settings {
margin: 0;
border-radius: 6px 6px 0px 0px;
background-color: #333;
color: #999;
}

div.profile-dash-actions ul.actions-on-user{
border-radius: 0px 0px 6px 6px;
}





.collection_view{
  .info-panel,.title-panel{
   	float: none;
   	display: block;
   	clear: both;
   	position: relative;
  }
}








}